@import "./tailwind.css";
@import "@flaticon/flaticon-uicons/css/all/all";

body {
  background: #f5f8fa;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
